<!doctype html>
<html lang="{{ lang }}">
<head>
    {%  include 'app/common-head-tags.html.twig' %}

    <title>Contact, Free Online Scanner | AntiVirus API(JSON) for Developers | Run a free virus scan online</title>
    <meta name="description" content="Contact, Free Online Scanner | AntiVirus API(JSON) for Developers | Run a free virus scan online | Free Online Security Scan · Detect and fix viruses, worms, spyware, and other malicious threats for free. · Start a free scan for your platform">
</head>
<body>


<div class="content">

    <div class="container">


        <div class="row justify-content-center">
            <div class="col-md-10">

                <div class="row align-items-center">
                    <div class="col-lg-7 mb-5 mb-lg-0">

                        <h3 class="mb-5">Contact us for any inquiries or to report technical issues..</h3>

                        <form class="border-right pr-5 mb-5" method="post" id="contactForm" name="contactForm">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Your e-mail">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea rows="8" cols="45" placeholder="Message" name="message" id="message">
                                    </textarea> <br>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-check">
                                    <input type="hidden" value="" name="token" id="token">
                                    <input class="form-check-input" type="checkbox" value="" id="antiSpamCheckBox" />
                                    <label class="form-check-label" for="antiSpamCheckBox">I am not a bot</label>
                                    <div id="loading"></div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" value="Send" class="btn btn-primary rounded-0 py-2 px-4">
                                    <span class="submitting"></span>
                                </div>
                            </div>
                        </form>

                        <div id="form-message-warning"></div>
                        <div id="form-message-success">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="avatar">Your message has been sent. We will answer you as soon as possible</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 ml-auto">
                        <p>
                            <a href="/{{ lang }}/private-space" id="btn-home" class="btn btn-info rounded-0 py-2 px-4">Home</a><br><br>
                            <a href="/{{ lang }}/user/settings" id="btn-settings" class="btn btn-info rounded-0 py-2 px-4">Settings</a><br><br>
                            <a href="/{{ lang }}/user/change-my-password" id="btn-change-password" class="btn btn-info rounded-0 py-2 px-4">Change my password</a><br><br>
                            <a href="/{{ lang }}/user/delete-my-account" id="btn-delete-account" class="btn btn-info rounded-0 py-2 px-4">Delete my account</a><br><br>
                            <input type="button" id="btn-log-out" value="Log out" class="btn btn-primary rounded-0 py-2 px-4">
                        </p>
                        <br>
                        <h3 class="mb-4">API for developers [JSON / REST API]</h3>
                        <p>Start scanning user uploaded content and files within minutes. Our JSON API is easy to integrate and quickly lets you scan without overloading your servers.</p>
                        <p><a href="/{{ lang }}/documentation">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%  include 'app/common-js-sources.html.twig' %}

<script src="/js/contact.js"></script>
</body>
</html>

