<!doctype html>
<html lang="{{ lang }}">
<head>
    {%  include 'app/common-head-tags.html.twig' %}

    <title>{{ 'TR00001' | trans }}</title>
    <meta name="description" content="{{ 'TR00002' | trans }}">
</head>
<body>
<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">

                <div class="row align-items-center">
                    <div class="col-lg-7 mb-5 mb-lg-0">
                        <h1><a href="{{ webSiteHomeUrl }}" title="{{ webSiteHomeUrl }}">{{ webSiteName | upper }}</a></h1><br>
                        <h3 class="mb-4" id="h-top">{{ 'TR00003' | trans }}</h3>
                        <form class="border-right pr-5 mb-5" method="post" id="loginForm" name="contactForm">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" name="username" id="username" placeholder="{{ 'Login' | trans }}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="{{ 'Password' | trans }}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" value="{{ 'Login' | trans }}" class="btn btn-primary rounded-0 py-2 px-4">&nbsp;&nbsp;<a href="/{{ lang }}/create-account">I don't have a login</a>
                                    <span class="{{ 'submitting' | trans }}"></span>
                                </div>
                            </div>
                        </form>

                        <div id="form-message-warning"></div>
                        <div id="form-message-success">
                            <form class="border-right pr-5 mb-5" method="post" id="uploadForm" name="uploadForm">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="avatar">{{ 'Choose the file to scan:' | trans }}</label>
                                        <input type="file" id="file" name="file">
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <input type="text" class="form-control" name="description" id="description" placeholder="{{ 'Description' | trans }}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="submit" value="{{ 'Start analysis' | trans }}" class="btn btn-primary rounded-0 py-2 px-4">
                                                <span class="{{ 'submitting' | trans }}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="form-upload-success">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="avatar">{{ 'Upload successful.' | trans }} <br>
                                        {{ 'You will receive a notification after the virus scan is complete' | trans }}</label><br>
                                        <input type="submit" id="uploadAnotherFile" value="{{ 'Upload another file' | trans }}" class="btn btn-primary rounded-0 py-2 px-4">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12"  id="files-list">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 ml-auto">
                        <p><a href="/{{ lang }}/create-account" id="link-test-free">{{ 'Test this API for free' | trans }}</a></p>
                        <h3 class="mb-4">{{ 'API for developers [JSON / REST API]' | trans }}</h3>
                        <p>{{ 'Start scanning user uploaded content and files within minutes. Our JSON API is easy to integrate and quickly lets you scan without overloading your servers.' | trans }}</p>
                        <p><a href="/{{ lang }}/documentation">{{ 'Read more' | trans }}</a></p><br><br>
                        <p><a href="/{{ lang }}/create-account">{{ 'Create an account for free' | trans }}</a></p>
                        <p><a href="https://en.wikipedia.org/wiki/JSON_Web_Token" target="_blank">{{ 'JSON Web Token' | trans }}</a></p>
                        <p><a href="/{{ lang }}/user/terms-of-use">{{ 'Terms of use' | trans }}</a></p>
                        <p><a href="/{{ lang }}/user/cookies-and-personal-data">{{ 'Cookies and personal data' | trans }}</a></p>
                        <p><a href="/{{ lang }}/contact">{{ 'Contact us' | trans }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%  include 'app/common-js-sources.html.twig' %}

<script src="/js/index.js"></script>

</body>
</html>